﻿@model Smutter.Models.tweet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tweet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tweet1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tweet1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
