﻿@model Smutter.Models.tweet


@using (Html.BeginForm("EnterTweet", "Tweets", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        
        @Html.TextAreaFor(model => model.tweet1, new {@id = "enterSweet", @class = "form-control", @placeholder = "Enter your tweet", @style = "width:500px;height:100px;" })
        @Html.ValidationMessageFor(model => model.tweet1, "", new { @class = "text-danger" })
        
    </div>
    <p id="lenSweet"></p>
    <div class="form-group">
        <div>
            <input id="btnSweet" type="submit" value="SWEET!" class="btn btn-primary" />
        </div>
    </div>
</div>

     
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

