﻿@model IEnumerable<Smutter.Models.tweet>
@using Smutter.Utils


@{
    ViewBag.Title = "GenerateFeeds";

}

<h2>Feed</h2>


<table class="table">
    <tr>
        <th>
           SWEETS

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h4>@Html.DisplayFor(modelItem => item.tweet1)</h4><br />
            &commat;@Utils.getUsername(item.uid) <br />
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
    </tr>
}

</table>
