﻿@model IEnumerable<Smutter.Models.tweet>
@using Smutter.Utils

<table class="table">
    <tr>

        <th>
            YOUR SWEETS!
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h5> @Html.DisplayFor(modelItem => item.tweet1)</h5><br />
            &commat;@Utils.getUsername(item.uid)<br />
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.tid })
        </td>
    </tr>
}

</table>
