﻿@model IEnumerable<Smutter.Models.tweet>

@{
    ViewBag.Title = "UserProfile";
}

<div class="container">

    @Html.Partial("EnterTweet", new Smutter.Models.tweet())

    @Html.Partial("ShowTweets")

</div>