﻿@model Smutter.Models.follower

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>follower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.follower_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.follower_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.followed_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followed_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
