﻿ @model IEnumerable<Smutter.Models.user>

@{
    ViewBag.Title = "Feed";
}

<h2>Follow List</h2>


<table class="table">
    <tr>
        <th>
           Users
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.ActionLink("Follow", "FollowUser", "Users", new { id = item.id }, new { @class = "btn btn-success"})
        </td>
    </tr>
}

</table>
