﻿@model IEnumerable<Smutter.Models.user>

@{
    ViewBag.Title = "Following";
}

<h2>Following</h2>

<table class="table">
    <tr>
        <th>
            Following
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.ActionLink("Unfollow", "UnFollowUser", "Users", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
