﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Smutter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (Session["uid"] != null)
                    {
                        <li>@Html.ActionLink("Profile", "Details", "Users", new { id = Session["uid"] }, null)</li>
                        <li>@Html.ActionLink("Feed", "GetFollowingFeed", "Follow", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Follow List", "getFollowedList", "Follow", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Following", "getFollowingList", "Follow", new { area = "" }, null)</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-item">
                        @{
                        if (Session["uid"] != null)
                        {
                            <a href="@Url.Action("Logout","Users")">Logout</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Users")">Login</a>
                        }

                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SMUTTER</p>
            <p>Done by Vivek and Lourdes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetval")
    @RenderSection("scripts", required: false)
</body>
</html>
