﻿<div class="jumbotron">
    <h2>SMUTTER</h2>
    <p class="lead">Smutter is a clone of twitter that is exclusively for SMU students, or should we say, 'smudents'. Get started with this app by either logging in or registering (if you haven't already) </p>
    <p><a href="@Url.Action("Login","Users")" class="btn btn-primary btn-lg">Login</a>&nbsp;&nbsp;<a href="@Url.Action("Register","Users")" class="btn btn-primary btn-lg">Register</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sweet</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Follow</h2>
       
    </div>
    <div class="col-md-4">
        <h2>Stay Updated</h2>
       
    </div>
</div>
